####################################
# Python
####################################
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
.env/

####################################
# OS / editor junk
####################################
.DS_Store
Thumbs.db
.vscode/
.idea/

####################################
# Logs & temp files
####################################
*.log
*.tmp
*.out

####################################
# Ignore generated UCC data
####################################
data/ucc/**
!data/ucc/**/
!data/ucc/**/.gitkeep

####################################
# Ignore cleaned BEA investment and capital data
####################################
data/det_i.xlsx
data/det_i_over_k.xlsx
data/det_k.xlsx

####################################
# Optional: figures / tables outputs
####################################
#output/*
#!output/**/
